.nav-link {
    position: relative;
    overflow: hidden;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0d6efd;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
    transform: translateX(0);
}

.bg-imagecostum {
    background-image: url('../../public/images/title-img-event.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-overlaycostum {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.centered-textcostum {
    position: relative;
    text-align: center;
    color: white;
    z-index: 1;
    max-width: 80%;  /* Limit the width of the text to 80% of the parent container */
    padding: 1rem;   /* Add some padding around the text */
}


    .team-member {
        margin: 20px 0;
      }

      .team-member img {
        width: 100%;
      }

      .padded-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-background-first {
        height: 100%;
        background-image: url('../../public/images/cool-background.svg');
        background-size: cover;
        background-attachment: fixed;

    }

    .section-background-second {
        height: 100%;
        background-image: url('../../public/images/cool-background-reserve.svg');
        background-size: cover;
        background-attachment: fixed;
    }

    .padded-image {
        display: flex;
        justify-content: center;
        padding: 25px;
    }

    .team-img {
        width: 70%;
        border-radius: 5px;
    }


    @media (max-width: 992px) {
        .btn-group-responsive {
            margin-top: 10px;
        }
    }

    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        opacity: 1;
        transition: opacity 0.5s ease-out; /* Füge eine Übergangsanimation hinzu */
      }


      .loader {
        width: 50px;
        height: 50px;
        border: 4px solid #ccc;
        border-top-color: #000;
        border-radius: 50%;
        animation: spin 1s infinite ease-in-out;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      /* Verstecke den Preloader, wenn die Inhalte geladen sind */
      body.loaded .preloader {
        display: none;
      }

      .preloader.hidden {
        opacity: 0;
      }

      .cookie-banner {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .cookie-message {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        max-width: 500px;
        margin: 0 auto;
      }

      .accept-button {
        display: block;
        margin: 0 auto;
      }

      #search-results {
        max-height: 400px;
        overflow-y: auto;
    }

    .field-icon {
      float: right;
      margin-left: -25px;
      margin-top: -25px;
      position: relative;
      z-index: 2;
  }
    .progress-bar {
      width: 100%;
      height: 10px;
      background-color: #f3f3f3;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      margin-top: 2px;
  }

  .progress-bar-fill {
      height: 100%;
      background-color: #f00;
      width: 0%;
      border-radius: 5px;
      transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
  }

  .password-info {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    margin-top: 5px;
}

.position-relative:hover .password-info {
    display: block;
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}
